* {
  background-color: rgb(196, 149, 84);
  color: rgb(255, 248, 220);
  font-family: arial, sans-serif;
}

header {
  display: flex;
  background-color: rgb(172, 125, 60);
  border-bottom: 4px solid rgb(102, 46, 6);
  padding-top: 24px;
  padding-bottom: 48px;
  padding-left: 8px;
  padding-right: 8px;
}

html {
  padding: 0;
}

body {
  margin: 0;
}

header a {
  display: flex;
  align-items: center;
  margin-right: 8px;
  text-decoration: none;
  border: 2px solid rgb(102, 46, 6);
  padding-left: 4px;
  padding-right: 4px;
  width: 60px;
  justify-content: center;
  font-weight: bold;
  border-radius: 6px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(172, 125, 60);
}

h5 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

#h2Cart {
  text-align: center;
}

.HomePage {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#HomePageShopLink {
  margin-top: 30px;
  margin-bottom: 60px;
  text-decoration: none;
  border: 2px solid rgb(102, 46, 6);
  padding: 8px;
  border-radius: 6px;
  background-color: rgb(172, 125, 60);
  font-weight: bold;
}

.Home {
  margin-left: auto;
}

.ShopDiv h2 {
  text-align: center;
}

.SideCart {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  width: 150px;
  background-color: rgb(172, 125, 60);
  border: 1px solid black;
  align-items: center;
}

.SideCart p {
  padding-left: 12px;
  background-color: rgb(172, 125, 60);
}

.SideCart div {
  background-color: rgb(172, 125, 60);
}

.SideCart h4 {
  text-align: center;
  background-color: rgb(172, 125, 60);
}

#SideCartButton {
  width: 100px;
  background-color: rgb(196, 149, 84);
  border: 2px solid rgb(102, 46, 6);
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  border-radius: 6px;
}

#SideCartButton:hover {
  background-color: tan;
}

#SideCartButton:active {
  background-color: rgb(102, 46, 6);
}

.SideCart a {
  background-color: rgb(172, 125, 60);
}

.SideCartList {
  list-style: none;
}

.RemoveItem {
  margin-left: 16px;
}

.ShopCards {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: rgb(172, 125, 60);
}

.ShopMain {
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.ShopMain h3 {
  margin-bottom: 0;
  margin-top: 60px;
  background-color: rgb(172, 125, 60);
  text-align: center;
}

.ShopMain h3:first-child {
  margin-top: 16px;
}

.ProductCard {
  display: flex;
  padding: 16px;
  min-width: 700px;
  align-items: center;
  margin-top: 16px;
  margin-left: 8px;
  background-color: rgb(172, 125, 60);
}

.ProductCard img {
  margin-left: 16px;
  margin-right: 16px;
  background-color: rgb(196, 149, 84);
  border: 1px solid black;
  padding: 4px;
  border-radius: 6px;
}

.ProductCard p:nth-of-type(2) {
  margin-left: auto;
}

.ProductCard input {
  height: 20px;
  width: 60px;
  margin-right: 4px;
  border: 1px solid silver;
}

.ProductCard p {
  background-color: rgb(172, 125, 60);
}

.ProductCard form {
  margin-left: 8px;
  background-color: rgb(172, 125, 60);
}

.ProductCard span {
  margin-left: 0;
  margin-right: 16px;
  background-color: rgb(172, 125, 60);
}

.ProductCard button {
  border: 2px solid rgb(102, 46, 6);
  width: 100px;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  border-radius: 6px;
}

.ProductCard button:hover {
  background-color: tan;
}

.ProductCard button:active {
  background-color:rgb(102, 46, 6)
}

.CartCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AllCartCards {
  width: 800px;
  border: 1px solid black;
  background-color: rgb(172, 125, 60);
}

.CartCard {
  display: flex;
  padding: 16px;
  min-width: 700px;
  align-items: center;
  margin-top: 16px;
  background-color: rgb(172, 125, 60);
}

.CartCard p {
  background-color: rgb(172, 125, 60);
}

.CartCard form,
.CartCard span {
  background-color: rgb(172, 125, 60);
}

.CartCard p:first-child {
  width: 150px;
}

.CartCard img {
  margin-left: 16px;
  margin-right: 16px;
}

.CartCard input {
  height: 20px;
  width: 60px;
  margin-left: auto;
  margin-right: 4px;
  border: 1px solid silver;
}

.CartCard button {
  border: 2px solid rgb(102, 46, 6);
  width: 80px;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bold;
  border-radius: 6px;
}

.CartCard form {
  margin-left: 16px;
}

.CartCard span {
  margin-left: 0;
  margin-right: 16px;
}

.CartCardPrice {
  margin-left: auto;
}

.CheckOut {
  display: flex;
  flex-direction: column;
  background-color: rgb(172, 125, 60);
}

.CheckOut p {
  margin-left: auto;
  background-color: rgb(172, 125, 60);
  margin-right: 8px;
}

.CheckOut button {
  margin-left: auto;
  border: 2px solid rgb(102, 46, 6);
  width: 100px;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-weight: bold;
  border-radius: 6px;
}

